<div class="section section-text-entry" id="section-checklist">
    <div class="section-content text-center">
        <label class="checkbox-inline">
            <input type="checkbox" name="fast_food" value="1"> Fast Food
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" name="exercise" value="1"> Exercise
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" name="meditation" value="1"> Meditation
        </label>
    </div>
</div>

<div class="section section-text-entry" id="section-happenings">
    <div class="section-header">Anything interesting happen today?</div>
    <div class="section-content">
        <textarea class="form-control" name="happenings"></textarea>
    </div>
</div>

<div class="section section-text-entry" id="section-improvement">
    <div class="section-header">How are you better today than you were yesterday?</div>
    <div class="section-content">
        <textarea class="form-control" name="improvement"></textarea>
    </div>
</div>

<div class="section section-text-entry" id="section-reflection">
    <div class="section-header">Reflection</div>
    <div class="section-content">
        <textarea class="form-control" name="reflection"></textarea>
    </div>
</div>