{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="page-header">
        <div class="navigation">
            <a href="{{ date_pagination['previous'] }}" class="pull-left"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
            <div class="pull-right">
                <a class="{% if day.is_today() %}disabled{% endif %}" href="{% if day.is_today() %}#{% else %}{{ date_pagination['next'] }}{% endif %}"><span class="glyphicon glyphicon-circle-arrow-right"></span></a>
                <a class="{% if day.is_today() %}disabled{% endif %}" href="{% if day.is_today() %}#{% else %}{{ url_for('today') }}{% endif %}" title="Today"><span class="glyphicon glyphicon-record"></span></a>
            </div>
            <div class="text-center">
                {% if day.is_today() %}
                    <h1 data-toggle="popover" data-content="{{ day.get_formatted() }}">Today</h1>
                {% else %}
                    <h1>{{ day.get_formatted() }}</h1>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-3">
        <div class="section" id="section-calendar">
            <div class="section-header">Calendar</div>
            <div class="section-content">
                <ul>
                    {% for event in events %}
                        <li><time>{{ event['time'] }}</time> <a target="_blank" href="{{ event['link'] }}" data-toggle="popover" data-description="{{ event['description'] }}" data-location="{{ event['location'] }}">{{ event['title'] }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>


        <div class="section" id="section-evernote">
            <div class="section-header">Evernote</div>
            <div class="section-content">
                <ul>
                    {% for note in notes %}
                        <li><a target="_blank" href="https://www.evernote.com/Home.action#n={{ note[0] }}">{{ note[1] }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <form accept-charset="utf-8" method="post" id="form-sections">
            <input type="hidden" name="date" value="{{ day.get_formatted("%Y-%m-%d") }}">

            {{ data_template | safe }}

            <button id="save-btn" class="btn btn-block btn-success btn-lg"><span class="glyphicon glyphicon-check"></span> <span id="save-btn-label">Save</span></button>
        </form>
    </div>

    <div class="col-md-3">
        <div class="section" id="section-mood">
            <form accept-charset="UTF-8" method="post" id="form-mood">
                <input type="hidden" name="date" value="{{ day.get_formatted("%Y-%m-%d") }}">

                <div class="section-header">Mood</div>
                <div class="section-content">
                    {% for mood in moods %}
                        <div class="mood-group">
                            <div class="col-md-6 pull-left mood-label-left">{{ mood[0] }}</div>
                            <div class="col-md-6 pull-right mood-label-right">{{ mood[1] }}</div>
                            <div class="mood-slider">
                                <input type="range" min="0" value="50" max="100" step="1" name="{{ mood[0] }}|{{ mood[1] }}">
                            </div>
                        </div>
                    {% endfor %}

                    <input type="text" name="notes" id="mood-notes" class="form-control" placeholder="notes">

                    <button id="save-mood-btn" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-check"></span> <span id="save-mood-btn-label">Save Mood</span></button>

                    <a href="#" class="hide" id="previous-moods" data-toggle="modal" data-target="#previous-mood-modal">
                        <span class="glyphicon glyphicon-repeat"></span> Previous Mood Entries</a>
                </div>
            </form>
        </div>
    </div>


</div><!-- /.container -->

<div id="previous-mood-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div id="previous-mood-time">
                    <a class="previous-mood-nav" id="previous-mood-time-previous" href="#"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
                    <time>5:30p</time>
                    <a class="previous-mood-nav disabled" id="previous-mood-time-next" href="#"><span class="glyphicon glyphicon-circle-arrow-right"></span></a>
                </div>
            </div>
            <div class="modal-body">
                {% for mood_entry in day.get_moods() %}
                    <div class="previous-mood-panel hide" data-time="{{ mood_entry.time }}">
                        <p class="text-center"><em>{{ mood_entry['notes'] }}</em></p>

                        {% for mood, value in mood_entry['values'].iteritems() %}
                            {% set left, right = mood.split("|") %}
                            <div class="previous-mood-row">
                                <div class="col-md-6 pull-left mood-label-left">{{ left }}</div>
                                <div class="col-md-6 pull-right mood-label-right">{{ right }}</div>
                                <div style="clear:both"></div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-{% if value >= 75 %}success{% elif value >= 50 %}warning{% else %}danger{% endif %}" role="progressbar" style="width: {{ value }}%"></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}