
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="prototype.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="page-header">
        <div class="navigation">
          <a href="#" class="pull-left"><span class="glyphicon glyphicon-circle-arrow-left"></a>
          <a href="#" class="pull-right"><span class="glyphicon glyphicon-circle-arrow-right"></a>
          <div class="text-center"><h1><small>Thursday</small> March 14, 2014 <small>Today</small></h1></div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="col-md-3">
        <div class="section" id="section-calendar">
          <div class="section-header">Calendar</div>
          <div class="section-content">
            <ul>
              <li><time>all day</time> <a href="#">Mike out of town</a></li>
              <li><time>1p</time> <a href="#">Meeting w/ Jake</a></li>
              <li><time>6p</time> <a href="#">Dinner @ Denny's</a></li>
            </ul>
          </div>
        </div>


        <div class="section" id="section-evernote">
          <div class="section-header">Evernote</div>
          <div class="section-content">
            <ul>
              <li><a href="#">10 Cool Python Tips &amp; Tricks</a></li>
              <li><a href="#">Learn You Some Erlang!</a></li>
              <li><a href="#">Personal Journal Entry</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="section" id="section-daily-log">
          <div class="section-header">Daily Log</div>
          <div class="section-content">
            <textarea></textarea>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="section" id="section-mood">
          <div class="section-header">Mood</div>
          <div class="section-content">
            <div class="mood-group">
              <div class="col-md-6 pull-left mood-label-left">Depressed</div>
              <div class="col-md-6 pull-right mood-label-right">Interested</div>
              <div class="mood-slider"><input type="range" min="0" value="50" max="100" step="1" name=""></div>
            </div>

            <div class="mood-group">
              <div class="col-md-6 pull-left mood-label-left">Sad</div>
              <div class="col-md-6 pull-right mood-label-right">Happy</div>
              <div class="mood-slider"><input type="range" min="0" value="50" max="100" step="1" name=""></div>
            </div>

            <div class="mood-group">
              <div class="col-md-6 pull-left mood-label-left">Withdrawn</div>
              <div class="col-md-6 pull-right mood-label-right">Social</div>
              <div class="mood-slider"><input type="range" min="0" value="50" max="100" step="1" name=""></div>
            </div>

            <div class="mood-group">
              <div class="col-md-6 pull-left mood-label-left">Hopeless</div>
              <div class="col-md-6 pull-right mood-label-right">Hopeful</div>
              <div class="mood-slider"><input type="range" min="0" value="50" max="100" step="1" name=""></div>
            </div>

            <div class="mood-group">
              <div class="col-md-6 pull-left mood-label-left">Worthless</div>
              <div class="col-md-6 pull-right mood-label-right">Valuable</div>
              <div class="mood-slider"><input type="range" min="0" value="50" max="100" step="1" name=""></div>
            </div>

            <button type="button" id="save-moods-btn" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-check"></span> Save</button>

            <a href="#" id="previous-moods" data-toggle="modal" data-target="#previous-mood-modal">
              <span class="glyphicon glyphicon-repeat"></span> Previous Mood Entries</a>
          </div>
        </div>
      </div>


    </div><!-- /.container -->

    <div id="previous-mood-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div id="previous-mood-time">
              <a class="previous-mood-nav" id="previous-mood-time-previous" href="#"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
              <time>5:30p</time>
              <a class="previous-mood-nav disabled" id="previous-mood-time-next" href="#"><span class="glyphicon glyphicon-circle-arrow-right"></span></a>
            </div>
          </div>
          <div class="modal-body">

            <div class="previous-mood-panel hide" data-time="3:15p">
              <div class="previous-mood-row">
                <div class="col-md-6 pull-left mood-label-left">Depressed</div>
                <div class="col-md-6 pull-right mood-label-right">Interested</div>
                <div style="clear:both"></div>
                <div class="progress"><div class="progress-bar progress-bar-warning" role="progressbar" style="width: 70%"></div></div>
              </div>

              <div class="previous-mood-row">
                <div class="col-md-6 pull-left mood-label-left">Sad</div>
                <div class="col-md-6 pull-right mood-label-right">Happy</div>
                <div style="clear:both"></div>
                <div class="progress"><div class="progress-bar progress-bar-danger" role="progressbar" style="width: 40%"></div></div>
              </div>

              <div class="previous-mood-row">
                <div class="col-md-6 pull-left mood-label-left">Withdrawn</div>
                <div class="col-md-6 pull-right mood-label-right">Social</div>
                <div style="clear:both"></div>
                <div class="progress"><div class="progress-bar progress-bar-danger" role="progressbar" style="width: 10%"></div></div>
              </div>

              <div class="previous-mood-row">
                <div class="col-md-6 pull-left mood-label-left">Hopeless</div>
                <div class="col-md-6 pull-right mood-label-right">Hopeful</div>
                <div style="clear:both"></div>
                <div class="progress"><div class="progress-bar progress-bar-success" role="progressbar" style="width: 95%"></div></div>
              </div>

              <div class="previous-mood-row">
                <div class="col-md-6 pull-left mood-label-left">Worthless</div>
                <div class="col-md-6 pull-right mood-label-right">Valuable</div>
                <div style="clear:both"></div>
                <div class="progress"><div class="progress-bar progress-bar-warning" role="progressbar" style="width: 55%"></div></div>
              </div>

            </div>

            <div class="previous-mood-panel active" data-time="5:30p">
              <div class="previous-mood-row">
                <div class="col-md-6 pull-left mood-label-left">Depressed</div>
                <div class="col-md-6 pull-right mood-label-right">Interested</div>
                <div style="clear:both"></div>
                <div class="progress"><div class="progress-bar progress-bar-danger" role="progressbar" style="width: 40%"></div></div>
              </div>

              <div class="previous-mood-row">
                <div class="col-md-6 pull-left mood-label-left">Sad</div>
                <div class="col-md-6 pull-right mood-label-right">Happy</div>
                <div style="clear:both"></div>
                <div class="progress"><div class="progress-bar progress-bar-success" role="progressbar" style="width: 80%"></div></div>
              </div>

              <div class="previous-mood-row">
                <div class="col-md-6 pull-left mood-label-left">Withdrawn</div>
                <div class="col-md-6 pull-right mood-label-right">Social</div>
                <div style="clear:both"></div>
                <div class="progress"><div class="progress-bar progress-bar-success" role="progressbar" style="width: 75%"></div></div>
              </div>

              <div class="previous-mood-row">
                <div class="col-md-6 pull-left mood-label-left">Hopeless</div>
                <div class="col-md-6 pull-right mood-label-right">Hopeful</div>
                <div style="clear:both"></div>
                <div class="progress"><div class="progress-bar progress-bar-warning" role="progressbar" style="width: 70%"></div></div>
              </div>

              <div class="previous-mood-row">
                <div class="col-md-6 pull-left mood-label-left">Worthless</div>
                <div class="col-md-6 pull-right mood-label-right">Valuable</div>
                <div style="clear:both"></div>
                <div class="progress"><div class="progress-bar progress-bar-danger" role="progressbar" style="width: 5%"></div></div>
              </div>

            </div>


          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
      jQuery(document).ready(function($){
        //------------------------------ PREVIOUS MOOD NAVIGATION
        $('#previous-mood-time-previous').on('click', function(){
          if (!$(this).hasClass('disabled')) change_mood('previous');
        });

        $('#previous-mood-time-next').on('click', function(){
          if (!$(this).hasClass('disabled')) change_mood('next');
        });

        function change_mood(direction) {
          var active = $('.previous-mood-panel.active');
          if (direction == 'previous') {
            var show = active.prev('.previous-mood-panel');
          } else {
            var show = active.next('.previous-mood-panel');
          }
          active.removeClass('active').addClass('hide');
          show.removeClass('hide').addClass('active');

          $('#previous-mood-time').find('time').text(show.data('time'));

          if (show.next('.previous-mood-panel').length) {
            $('#previous-mood-time-next').removeClass('disabled');
          } else {
            $('#previous-mood-time-next').addClass('disabled');
          }

          if (show.prev('.previous-mood-panel').length) {
            $('#previous-mood-time-previous').removeClass('disabled');
          } else {
            $('#previous-mood-time-previous').addClass('disabled');
          }

        }
        //----------------------- END PREVIOUS MOOD NAVIGATION
        //----------------------- MOOD SLIDER COLORING
        $('input[type="range"]').change(function () {
          var val = ($(this).val() - $(this).attr('min')) / ($(this).attr('max') - $(this).attr('min'));

          if (val > 0.75) {
            var color = "#5cb85c";
          } else if (val > 0.5) {
            var color = "#f0ad4e";
          } else {
            var color = "#d9534f";
          }

          $(this).css('background-image',
            '-webkit-gradient(linear, left top, right top, '
            + 'color-stop(' + val + ', ' + color + '), '
            + 'color-stop(' + val + ', #C5C5C5)'
            + ')'
          );
        });
        //----------------------- END MOOD SLIDER COLORING

      });
    </script>
  </body>
</html>
